# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: firsttracks

# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: fafauth-api

# "service" is the name of this project. This will also be added to your AWS resource names.
service: fafauth


provider:
  name: aws
  region: af-south-1
  runtime: python3.14
  httpApi:
    authorizers:
      customAuthorizer:
        type: request
        functionName: apiCustomAuthorizer 
        enableSimpleResponses: true # Enable simple response format
        payloadVersion: '2.0' # Use payload version 2.0, required for simple response format


functions:

  apiCustomAuthorizer:
    handler: authorizer.custom_authorizer
    memorySize: 1769
    iam:
      role: 
        statements:
          # Permission to get exactly two specific parameters for our function to avoid needing to push code due to an IdP change
          - Effect: 'Allow'
            Action:
              - 'ssm:GetParameter'
              - 'ssm:GetParameters'
            Resource:
              - 'arn:aws:ssm:${aws:region}:${aws:accountId}:parameter/fafauth/apigw_custom_authorizer/client_token_signing_keys_jwks'
              - 'arn:aws:ssm:${aws:region}:${aws:accountId}:parameter/fafauth/apigw_custom_authorizer/token_claims_validation_values'

  ping:
    handler: handler.ping
    memorySize: 1769
    events:
      - httpApi:
          path: /api/v001/ping
          method: get

  getUserInfo:
    handler: handler.get_user_info
    memorySize: 1769
    events:
      - httpApi:
          path: /api/v001/user
          method: get
          authorizer:
            name: customAuthorizer


# Needed to install everything in requirements.txt
custom:
  pythonRequirements:
    dockerizePip: true
